HLS - Unnecessary EXT-X-DISCONTINUITY tag added after clear lead

Hi,
By default Shaka Packager adds a EXT-X-DISCONTINUITY after the clear lead, according the [RFC 8216 Section 4.3.2.3](https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.2.3) this is unnecessary when only encryption changes

> The EXT-X-DISCONTINUITY tag MUST be present if there is a change in
>  any of the following characteristics:
>
>   o  file format
>   o  number, type, and identifiers of tracks
>   o  timestamp sequence
>
>  The EXT-X-DISCONTINUITY tag SHOULD be present if there is a change in
>   any of the following characteristics:
>
>   o  encoding parameters
>   o  encoding sequence 


This can have an undesirable effect on playback, like a micro interruption of the audio for example.