Not able to specify the base_url for each media file. Base URLs only show under MPD, but the base URL under each media file is just the file name.

## System info
**Operating System**: Ubuntu 14.04
**Shaka Packager Version**: Latest image on docker as of 6/7/17

## Issue and steps to reproduce the problem
**Packager Command**:
> packager input=spacetest.mp4,stream=audio,output=audio.mp4 input=spacetest.mp4,stream=video,output=video.mp4 --output_media_info
> mpd_generator --input "audio.mp4.media_info,video.mp4.media_info" -base_urls "abc.com,def.com" --output spacetest.mpd


Extra steps to reproduce the problem?
(1) create a media info file. 
(2) then use mpd_generator to generate the mpd 

What is the expected result?
Specific base URL for each file. 
What happens instead?
Default base URL i.e filename 

<Please attach the input files or email to shaka-packager-issues@google.com.>
<Please provide any additional information below.>


The base url specified in the command line provides common location(s) for all the presentations. Together with the base url in the individual presentation, the actual base url and alternate URLs for the representation can be derived.

Does it address your concern?

How can the actual base url be derived?
Also, let's say I am using a stroage service like AWS S3, where I store my files, and generate a signed link which I would like to include in the base url so that my client player can just fetch from there. How would I be able to tell the packager that which link corresponds to which individual presentation?

Ok, so you are looking for a way to specify a different name (URL) for the representation rather than fixing it to the actual file name? 

This is not what --base_urls is designed for.

We use --base_urls to provide top level base URLs as specified in 23009-1:2014 5.6 Base URL processing:
> URLs at each level of the MPD are resolved according to RFC3986 with respect to the BaseURL element specified at that level of the document or the level above in the case of resolving base URLs themselves (the document “base URI” as defined in RFC 3986 Section 5.1 is considered to be the level above the MPD level).

We don't support specifying the representation name / URL right now. A possible solution is to use an external tool to replace the file names in the media_info file or the result MPD after packaging completes, which should be quite straight-forward.



I see. Thank you a lot for your help. That does make sense now.