HTTP PUT output

Is it possible to, instead of writing to a file system, output the results of the muxer via HTTP PUT? 

Similar to this patch for the live webm dash muxer. 

http://ffmpeg.org/pipermail/ffmpeg-devel/2016-September/199424.html

If it is not yet possible, it would be very very useful!


No, that is not supported right now. 

It can be supported with a new File implementation (https://github.com/google/shaka-packager/blob/master/packager/media/file/file.h) supporting HTTP protocol, possibly called HttpFile.

We don't have any resource to work on it right now. Any help / contribution will be welcomed!

@colleenkhenry I have written a bash script for uploading / syncing manifests and segments via http in the right order. If some of you guys are interested, let me know.

Thanks @JuliusThms 

However, I think for best latency we would want to have something that is uploading the segments as they are being created (this is for live). Maybe I'm wrong, but I suspect that requires direct integration?

It's working using the right functions and logic to have the files uploaded immediately after they are written. But you're right; a direct Adapter suggested by @kqyang would be much smarter and less complex. I'm thinking about implementing it; Keep u updated.

@JuliusThms Thanks for jumping onto this issue! Let us know if you decide to do it and don't hesitate to reach out to us if you have any questions!

Thanks guys!

Hi there,

@JuliusThms asked us to have a look at this and so we are making an attempt to implement HttpFile support as outlined in this discussion, especially to improve **live mode publishing performance**. For doing so, we humbly ask for guidance from the core developers.

## Introduction
We are aiming to map the `File::Write` call to the HTTP domain in the most optimal way. As `File::Write` might be called multiple times per file by `BufferWriter::WriteToFile`, the implementation should support buffered writing by mapping it to incremental uploads.

### About HTTP PUT
HTTP PUT is exclusively designed for requests submitting the **full representation** of a resource:
> An origin server that allows PUT on a given target resource MUST send a 400 (Bad Request) response to a PUT request that contains a Content-Range header field (Section 4.2 of [RFC7233]), since the payload is likely to be partial content that has been mistakenly PUT as a full representation.
>
> -- via: [HTTP/1.1 Semantics and Content, section 4.3.4. PUT](https://tools.ietf.org/html/rfc7231#section-4.3.4)

### About HTTP PATCH
After thinking about the specific details of uploading live output artifacts using HTTP and to support the buffered output behavior of Shaka Packagers pipeline framework, we are aiming at mapping the `File::Write` call to appropriate HTTP PATCH requests using the `"[X-]Update-Range: append"` header as designed and implemented by [sabre/dav HTTP PATCH](http://sabre.io/dav/http-patch/).

### Using curl
The [http_key_fetcher.cc](https://github.com/google/shaka-packager/blob/master/packager/media/base/http_key_fetcher.cc) guided us towards using the curl library, saving us from having to introduce another dependency to the project. So, we will try to run the HTTP PATCH requests through _libcurl_.

## State of the onion

### First steps
We added a basic stub for HttpFile support ([http_file.h](https://github.com/daq-tools/shaka-packager/blob/http-upload/packager/file/http_file.h), [http_file.cc](https://github.com/daq-tools/shaka-packager/blob/http-upload/packager/file/http_file.cc)). You can follow the development on the [http-upload branch](https://github.com/daq-tools/shaka-packager/tree/http-upload) where you can also display the delta to the master branch when we forked off, see [master...http-upload](https://github.com/daq-tools/shaka-packager/compare/master...http-upload).

### Request for comments
We would be happy to receive feedback, recommendations or objections about whether we are on the right track with this.

Cheers,
Andreas.


@amotl Thanks for helping out on this issue!

I have to admit that I have never heard of HTTP PATCH before. The proposal looks good other than a concern on HTTP PATCH. Looks like PATCH was added to the HTTP protocol in 2010 (RFC 5789). Do you know what is the support status in common cloud providers (AWS, Google Cloud etc)? 


Maybe we should have two modes. One mode that use HTTP PATCH so that there's no/minimal buffering and a mode that doesn't do HTTP PATCH. The latter could buffer the data on `File::Write` and send one PUT/POST on `File::Close`.

Shouldn't PUT / POST with chunked transfer encoding provide pretty low
latency? Thats how I do things with ffmpeg...

On Mon, Oct 15, 2018 at 12:36 PM rkuroiwa <notifications@github.com> wrote:

> Maybe we should have two modes. One mode that use HTTP PATCH so that
> there's no/minimal buffering and a mode that doesn't do HTTP PATCH. The
> latter could buffer the data on File::Write and send one PUT/POST on
> File::Close.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-429985221>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaT_sAT5mhja51QoqyKjEtOIFFaGCks5ulOO1gaJpZM4J8IDP>
> .
>


> The latter could buffer the data on File::Write and send one PUT/POST on File::Close.

We are going to support CMAF low latency next quarter, which requires the data to be written ASAP, so we cannot buffer the data and write once in the end.

@colleenkhenry is right. HTTP PUT with chunked transfer should work. Unfortunately, with libcurl, the data has to be transferred using a [read callback](https://curl.haxx.se/libcurl/c/CURLOPT_READFUNCTION.html). It seems that we need to run libcurl in a separate thread which consumes the data cached by File::Write, where we can use the existing [IoCache](https://github.com/google/shaka-packager/blob/master/packager/file/io_cache.h) class.

Here is a sample code how it can be done:

```c++
    bool HttpFile::Open() {
      base::WorkerPool::PostTask(
        FROM_HERE,
        base::Bind(&HttpFile::CurlPut, base::Unretained(this)),
        true /* task_is_slow */);
    }

    static size_t read_callback(void *dest, size_t size, size_t nmemb, void *userp) {
        IoCache* cache = userp;
        return cache->Read(dest, size * nmemb);
    }

    int64_t HttpFile::Write(const void* buffer, uint64_t length) {
      if (internal_file_error_.load(std::memory_order_relaxed))
        return internal_file_error_.load(std::memory_order_relaxed);

      uint64_t bytes_written = cache_.Write(buffer, length);
      position_ += bytes_written;
      if (position_ > size_)
        size_ = position_;

      return bytes_written;
    }

    bool HttpFile::Close() {
      cache_.Close();
      delete this;
      return true;
    }

    void HttpFile::CurlPut() {
      curl_easy_setopt(curl, CURLOPT_READFUNCTION, CurlReadCallback);
      curl_easy_setopt(curl, CURLOPT_READDATA, &cache_);
      curl_easy_setopt(curl, CURLOPT_UPLOAD, 1L);
      struct curl_slist *chunk = NULL;
      chunk = curl_slist_append(chunk, "Transfer-Encoding: chunked");
      curl_easy_setopt(curl, CURLOPT_HTTPHEADER, chunk);
      ..
    } 
```

It should be more efficient than HTTP PATCH as only one HTTP connection needs to be setup. 

Hi there,

thanks a bunch for all of your suggestions!

"HTTP PUT with chunked transfer" will probably be the most  efficient way of uploading to HTTP, thanks @colleenkhenry for suggesting this and even more @kqyang for providing an implementation based on `IoCache` already - we would never have known about this. Nevertheless, we also like the idea by @rkuroiwa about having different transport modes.

As we have been half-way through the implementation using HTTP PATCH already, we wanted to finish it before taking the next steps. We also added corresponding documentation which already mentions the other HTTP transport flavors, see [http_upload.rst](https://github.com/daq-tools/shaka-packager/blob/http-upload/docs/source/tutorials/http_upload.rst).

We are looking forward to continue working on this feature. Until then, we will be happy to receive your feedback.

With kind regards,
Andreas.

Thank you so much for working on this @amotl . I think this will be a really awesome feature when combined with @kqyang @'s low latency CMAF work.

@amotl Thanks for doing this.
I think we want something first, and then iterate on it.  It's not like we're going to throw out the HTTP PATCH implementation :) (unless... idk maybe the world starts thinking that it's a bad practice). So the next step, after HTTP PATCH impl, might be to support chunked transfer mode.

Frankly, I don't know much about HTTP; I completely forgot about chunked transfer encoding, thanks for reminding me @colleenkhenry!

Hi there,

we just added the HTTP PUT transfer mode as sketched out by @kqyang in a way to generally support multiple transfer modes as suggested by @rkuroiwa and also updated the corresponding documentation at [http_upload.rst](https://github.com/3QSDN/shaka-packager/blob/http-upload/docs/source/tutorials/http_upload.rst).

While the HTTP PATCH transfer mode works flawlessly, we are struggling with the HTTP PUT transfer mode. We are apologizing for our limited knowledge of C++ and humbly ask whether one of you could take a more detailed look at the code. While it issues requests towards the designated HTTP sink, their payloads are empty and on top of that it will segfault after a few seconds.

The code is still sitting in the [http-upload branch](https://github.com/3QSDN/shaka-packager/tree/http-upload) of our fork. Please try to be merciful with the current state of the code. We promise to clean it up thoroughly if there's a chance to include it into the upstream code base. For doing that, we will be happy to receive further guidance.

Thanks again for looking after this, we appreciate your efforts.

Cheers,
Andreas.

Figured out some bugs. I am going to try to explain in words but it would be very wordy.

A: Expect: 100-continue
libcurl automatically puts `Expect: 100-continue` in the HTTP header. This (IIUC) means that it expects status 100 as an ACK for chunked transfer. So if the server responds with 200, it closes the connection.
This can be disabled with
`chunk = curl_slist_append(chunk, "Expect:");`

B: HttpFile::Close() deletes the instance immediately.
When `curl_easy_perform()` is called, libcurl uses the current thread to call the "read callback". This means `curl_easy_perform()` blocks until all data is "read". This is the reason why @kqyang recommended to put it on a worker pool (i.e. on a separate thread).
I wrote a small program (actually a unit test) that does
```C++
Open();
Write();
Close();
```
The problem with this is that
1. Open() returns immediately since all it does is post a task.
2. Write() returns immediately as well since it writes the data to a buffer (IoCache).
3. Close() returns immediately as well since it only flags IoCache as closed, and deletes the instance (`delete this`).

The problem with the last step is that it deletes the instance. It basically makes the entire instance, including curl context and IoCache instance, invalid.

A way to solve this problem is to use `base::WaitableEvent` like `ThreadedIoFile's`  `task_exit_event_`. For example, after performing `curl_easy_perform()` right before returning in `HttpFile::Request()`, signal the event.
And in HttpFile::Close()

Dear Rintaro,

thank you so much for taking the time to investigate the nitty gritty details of C++ object lifecycles and multithreading. I also think we should probably implement different HTTP transfer modes separately from each other due to their different nature of being "synchronous" vs. "asynchronous". It was just an attempt to make them work together in the same code - if we should split them apart, then let's try to do it.

> Now I hacked it to the point where curl prints
`* Signaling end of chunked upload via terminating chunk.`

This sounds promising!

> But I'm not sure if this hack has broken the PATCH method.

Nevermind ;]! It will find its way back if still required, maybe we should just put our feet on the HTTP PUT with chunked transfer mode **only** if everything turns out well.

Is there a way to pick up your current work? I will be back at the keyboard next week and will be happy to continue the work if i am able to fill in more gaps if even required ;].

Together with @JuliusThms, we are planning to implement a little Lua backend thing for Nginx which should receive the chunks and write the contents to the filesystem properly.

Thanks again for your efforts!

Cheers,
Andreas.

If you need a chunked transfer server that supports POST and PUTs and low
latency streaming... check out this project of mine.

https://github.com/streamlinevideo/low-latency-preview

On Fri, Oct 26, 2018 at 4:07 PM Andreas Motl <notifications@github.com>
wrote:

> Dear Rintaro,
>
> thank you so much for taking the time to investigate the nitty gritty
> details of C++ object lifecycles and multithreading. I also think we should
> probably implement different HTTP transfer modes separately from each other
> due to their different nature of being "synchronous" vs. "asynchronous". It
> was just an attempt to make them work together in the same code - if we
> should split them apart, then let's try to do it.
>
> Now I hacked it to the point where curl prints
> * Signaling end of chunked upload via terminating chunk.
>
> This sounds promising!
>
> But I'm not sure if this hack has broken the PATCH method.
>
> Nevermind ;]! It will find its way back if still required, maybe we should
> just put our feet on the HTTP PUT with chunked transfer mode *only* if
> everything turns out well.
>
> Is there a way to pick up your current work? I will be back at the
> keyboard next week and will be happy to continue the work if i am able to
> fill in more gaps if even required ;].
>
> Together with @JuliusThms <https://github.com/JuliusThms>, we are
> planning to implement a little Lua backend thing for Nginx which should
> receive the chunks and write the contents to the filesystem properly.
>
> Thanks again for your efforts!
>
> Cheers,
> Andreas.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-433528344>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaScMci6ZkqDm2o6VLaPY-dvt3Bqeks5uo2uTgaJpZM4J8IDP>
> .
>


Thanks Colleen, we will definitively have a look!

I uploaded it to [http-fix-attempt](https://github.com/rkuroiwa/shaka-packager/commits/http-fix-attempt) branch

My text editor automatically formats code, so the first commit is formatting and adding the unit test file; nothing to do with the fix.

Please look at the second commit.
https://github.com/rkuroiwa/shaka-packager/commit/5bab0bd983324a2f8aa86f9fdb44183b1a7955d3
There is some noise, but the change itself isn't very big.


Dear Rintaro,

it took a while for us to be able to get back to this, sorry.

Thank you so much for your fixes! We just added some minor things like [debugging improvements](https://github.com/3QSDN/shaka-packager/commit/082eb339) and a little fix to [also signal `task_exit_event_` on failed requests](https://github.com/3QSDN/shaka-packager/commit/edd84c28), effectively ignoring them. We also updated the [http-upload](https://github.com/3QSDN/shaka-packager/tree/http-upload) branch accordingly, incorporating your changes - thanks again!

After looking around which Lua module would fit for receiving the chunks, we finally found Nginx supports _HTTP PUT with chunked transfer encoding_ **natively** using its [WebDAV](https://en.wikipedia.org/wiki/WebDAV) module, so setting up the [Nginx/ngx_http_dav_module receiver](https://gist.github.com/amotl/d8de34abb34b6785af2f577faf1da3c6) boils down to adding a simple `location` entry to your Nginx configuration. Easy.

However, there is one minor glitch which shows up when uploading `.ts` video files: As Shaka Packager will currently issue **two requests** for each `.ts` file with the second one apparently being **another terminating chunk**, this will effectively write the same file leaving it with zero length on the server. At least this is what we are deducing from the [traces](https://gist.github.com/amotl/ced386d1dfa13854264a26876acfd908).

The [debugging improvements](https://github.com/3QSDN/shaka-packager/commit/082eb339) might help tracing down the issue. While we will try to investigate further, we are humbly asking you again if you could have another look? As you are experts on the code base, you might be able to spot a reason for this probably last important issue blocking the functionality of the whole beast.

With kind regards,
Andreas.

FYI the fastest and easiest way to get a test server running to receive
puts is to use...

https://caddyserver.com with it's upload module. It'll take you 5 min.

On Thu, Nov 8, 2018 at 1:05 PM Andreas Motl <notifications@github.com>
wrote:

> Dear Rintaro,
>
> it took a while for us to be able to get back to this, sorry.
>
> Thank you so much for your fixes! We just added some minor things like debugging
> improvements <https://github.com/3QSDN/shaka-packager/commit/082eb339>
> and a little fix to also signal task_exit_event_ on failed requests
> <https://github.com/3QSDN/shaka-packager/commit/edd84c28>, effectively
> ignoring them. We also updated the http-upload
> <https://github.com/3QSDN/shaka-packager/tree/http-upload> branch
> accordingly, incorporating your changes - thanks again!
>
> After looking around which Lua module would fit for receiving the chunks,
> we finally found Nginx supports *HTTP PUT with chunked transfer encoding*
> *natively* using its WebDAV <https://en.wikipedia.org/wiki/WebDAV>
> module, so setting up the Nginx/ngx_http_dav_module receiver
> <https://gist.github.com/amotl/d8de34abb34b6785af2f577faf1da3c6> boils
> down to adding a simple location entry to your Nginx configuration. Easy.
>
> However, there is one minor glitch which shows up when uploading .ts
> video files: As Shaka Packager will currently issue *two requests* for
> each .ts file with the second one apparently being *another terminating
> chunk*, this will effectively write the same file leaving it with zero
> length on the server. At least this is what we are deducing from the
> traces <https://gist.github.com/amotl/ced386d1dfa13854264a26876acfd908>.
>
> The debugging improvements
> <https://github.com/3QSDN/shaka-packager/commit/082eb339> might help
> tracing down the issue. While we will try to investigate further, we are
> humbly asking you again if you could have another look? As you are experts
> on the code base, you might be able to spot a reason for this probably last
> important issue blocking the functionality of the whole beast.
>
> With kind regards,
> Andreas.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-437155602>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaX0i2lDZn1RyC9mX0G6GvhuLXbR5ks5utJyegaJpZM4J8IDP>
> .
>


Hey... do have any example command lines for how to use your branch? Do you just use HTTP urls instead of file system paths :)?

Dear Colleen,

> https://caddyserver.com with it's upload module. It'll take you 5 min.

thank you very much for your suggestion, we justed replicated the referenced gist to [HTTP PUT file uploads from Shaka Packager to Caddy](https://gist.github.com/amotl/432146fabf8c71c8ba2930f1511d300e) and it works like a charm. We also like the beautiful integrated automatic directory index (file browser).

With kind regards,
Andreas.

Cool! Thank you!

On Thu, Nov 8, 2018 at 2:18 PM Andreas Motl <notifications@github.com>
wrote:

> Dear Colleen,
>
> https://caddyserver.com with it's upload module. It'll take you 5 min.
>
> thank you very much for your suggestion, we justed replicated the
> referenced gist to HTTP PUT file uploads from Shaka Packager to Caddy
> <https://gist.github.com/amotl/432146fabf8c71c8ba2930f1511d300e> and it
> works like a charm. We also like the beautiful integrated automatic
> directory index (file browser).
>
> With kind regards,
> Andreas.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-437176464>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaagtGy6sLUKQ--uC1b3VDPYmFuDSks5utK2rgaJpZM4J8IDP>
> .
>


Hey again,

> do have any example command lines for how to use your branch?

After following the general guidelines for compiling Shaka Packager on your own behalf, it might work like:

### Acquire the upstream sources
```
gclient config https://www.github.com/google/shaka-packager.git --name=src --unmanaged
cd shaka-packager
gclient sync --no-history
```

### Acquire amended sources
```
cd src
git remote add 3q https://www.github.com/3QSDN/shaka-packager.git
git fetch 3q
git checkout http-upload
```

### Build Shaka Packager
```
ninja -C out/Release packager
```

Please note i haven't exactly tested this, consider it as an attempt to replicate the commands from my bash history.

Good luck and cheers!

> Do you just use HTTP urls instead of file system paths :)?

Right. For the `segment_template` attribute as well as the `hls_master_playlist_output` parameter. Enjoy!

If you might come there: There's a minor error yet with the `.m3u8` files, they obviously will contain the `put+` prefix, which we will try to remedy appropriately with one of the next commits.


Oh thanks. I meant though what you provided in the gist! All good!

On Thu, Nov 8, 2018, 2:30 PM Andreas Motl <notifications@github.com wrote:

> Hey again,
>
> do have any example command lines for how to use your branch?
>
> After following the general guidelines for compiling Shaka Packager on
> your own behalf, it might work like:
> Acquire the upstream sources
>
> gclient config https://www.github.com/google/shaka-packager.git --name=src --unmanaged
> cd shaka-packager
> gclient sync --no-history
>
> Acquire amended sources
>
> cd src
> git remote add 3q https://www.github.com/3QSDN/shaka-packager.git
> git fetch 3q
> git checkout http-upload
>
> Build Shaka Packager
>
> ninja -C out/Release packager
>
> Please note i haven't exactly tested this, consider it as an attempt to
> replicate the commands from my bash history.
>
> Good luck and cheers!
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-437179971>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaYHdSK6jGymTXzcXzyJTbZLMzz5Kks5utLCegaJpZM4J8IDP>
> .
>


You rock!

On Thu, Nov 8, 2018, 2:31 PM Andreas Motl <notifications@github.com wrote:

> Do you just use HTTP urls instead of file system paths :)?
>
> Right. For the segment_template attribute as well as the
> hls_master_playlist_output parameter. Enjoy!
>
> If you might come there: There's a minor error yet with the .m3u8 files,
> they obviously will contain the put+ prefix, which we will try to remedy
> appropriately with one of the next commits.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-437180169>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZabAKWMAdLSbVKYisfCC1_G7NUauHks5utLDKgaJpZM4J8IDP>
> .
>


> You rock!

This wouldn't have been possible without the guidance of @kqyang and @rkuroiwa. I will pass this on to you!

> [...] there is one minor glitch which shows up when uploading `.ts` video files: As Shaka Packager will currently issue **two requests** for each `.ts` file with the second one apparently being **another terminating chunk**, this will effectively write the same file leaving it with zero length on the server. At least this is what we are deducing from the [traces](https://gist.github.com/amotl/ced386d1dfa13854264a26876acfd908).
>
> The [debugging improvements](https://github.com/3QSDN/shaka-packager/commit/082eb339) might help tracing down the issue. While we will try to investigate further [...]

We found running `packager --vmodule=http_file=2 ...` optimal for reproducing the issue, the [log output](https://gist.github.com/amotl/ced386d1dfa13854264a26876acfd908#file-packager-http-upload-ts-twice-log) reveals the probably successful upload is followed by another _Opening ..._ and _Closing ..._ of `bigbuckbunny-video-h264-450-0001.ts`, sending a void payload.


> Yes, there are two file open-close operations. The second file operation is a read to get file size

Aha. Thanks a bunch! While triggering `NOTIMPLEMENTED()` will make Shaka Packager bail out completely, you got us on the right track with this: Masking out the read operation in `HttpFile::Open` works.

> There's a minor error yet with the .m3u8 files, they obviously will contain the put+ prefix, which we will try to remedy appropriately with one of the next commits.

After addressing this one, we might be finally there.

### Finally
Just wanted to let you know the current state in the [http-upload branch](https://github.com/3QSDN/shaka-packager/tree/http-upload) works well on the HTTP transport side. Thanks again to all of you for making this happen.

### Testing builds
For all who have been following us and who are curious to try this thing but don't want to setup their own build environment: There are testing builds of [packager](https://packages.elmyra.de/3q/foss/packager) compiled on a recent _Debian GNU/Linux 9 (stretch)_, effectively yielding a
```
packager: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 2.6.26, not stripped
```
Enjoy!

### Outlook
There might be some more improvements required for appropriate HTTP  **addressing** regarding population of the `segment_template` and `playlist_name` attributes in the `stream_descriptor` parameter as well as the `--hls_master_playlist_output` and `--hls_base_url` parameters. We will try to shed some more light on this in a followup post.


Woo-Hoo! Thanks @amotl!

One question: is there any value in keeping the support for HTTP PATCH now that HTTP PUT is supported? I think we can remove it to simplify the code base.

Can you send a pull request to merge your work back to Shaka Packager master :) ? 



I don't see a need for patch

On Nov 9, 2018 10:54 AM, "Kongqun Yang" <notifications@github.com> wrote:

Woo-Hoo! Thanks @amotl <https://github.com/amotl>!

One question: is there any value in keeping the support for HTTP PATCH now
that HTTP PUT is supported? I think we can remove it to simplify the code
base.

Can you send a pull request to merge your work back to Shaka Packager
master :) ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/google/shaka-packager/issues/149#issuecomment-437459071>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/ACdZaQUBtXCZMBWyEKl3kX5ZmeZgrxlfks5utc9PgaJpZM4J8IDP>
.


@kqyang @colleenkhenry 

I discussed this with @amotl today.
There is one thing left to make a pull-request to the master branch, afterwards we'll do.

Someone here asked for HTTP Patch regarding Low-Latency CMAF; What do you think?

Best

Julius
  

You can cmaf with put

On Fri, Nov 9, 2018, 11:17 AM Julius Thomas <notifications@github.com wrote:

> @kqyang <https://github.com/kqyang> @colleenkhenry
> <https://github.com/colleenkhenry>
>
> I discussed this with @amotl <https://github.com/amotl> today.
> There is one thing left to make a pull-request to the master branch,
> afterwards we'll do.
>
> Someone here asked for HTTP Patch regarding Low-Latency CMAF; What do you
> think?
>
> Best
>
> Julius
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-437465600>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaQDYeBYl8ZNZDMW5OJrbajQy9_W_ks5utdSugaJpZM4J8IDP>
> .
>


> There is one thing left to make a pull-request to the master branch, afterwards we'll do.

Cool. Looking forward to it.

> Someone here asked for HTTP Patch regarding Low-Latency CMAF; What do you think?

Agree with @colleenkhenry, HTTP PUT is sufficient for Low-Latency CMAF support.

Hi there,

will be happy to remove the support for PATCH, chunked PUT is much better.

Before submitting a pull request, a) we will have to tackle the HTTP addressing problem i found out about and b) i would like to put some more effort into the [documentation](https://github.com/3QSDN/shaka-packager/blob/http-upload/docs/source/tutorials/http_upload.rst) and c) maybe we should also have a look at the software tests [1], i haven't even touched them once ;].

Cheers,
Andreas.

[1] @rkuroiwa prepared some already, see [http_file_unittest.cc](https://github.com/3QSDN/shaka-packager/blob/http-upload/packager/file/http_file_unittest.cc).

Re:
> ### Outlook
> There might be some more improvements required for appropriate HTTP  **addressing** regarding population of the `segment_template` and `playlist_name` attributes in the stream descriptor parameter as well as the `--hls_master_playlist_output` and `--hls_base_url` parameters. We will try to shed some more light on this in a followup post.

## Local file addressing goodness
All these parameters work and play together well when working with local files. `segment_template` and `playlist_name` will mostly be used to address the target file, usually a plain filename. While using absolute paths here is possible, this should be handled with care as the full filename will be propagated to the playlist file, which might not be what you want. For example, it will make your playlist and its referenced media nonrelocatable.

## HTTP addressing problem
In the infancy of the new HTTP upload feature, i found it to be a good idea to simply reuse the `segment_template` filename value for signalling the full target information like `put+http://streams.example.org/upload`. However, it turns out that this will be an **absolute address** and Shaka Packager will propagate this very address to the playlist file for referencing its media files, like described above.

We already had to account for stripping away the `put+` prefix by https://github.com/3QSDN/shaka-packager/commit/4491dee4, which ultimately revealed the feeling of a code smell in spe.

The reason for the impedance mismatch is that we overloaded the `segment_template` and `playlist_name` stream descriptor attributes:
- Usually, it specifies the naming pattern for the segment **files**, so it was always thought of signalling a bare filename, right?
- After adding a second meaning, the **designated HTTP upload URL**, Shaka Packager will happily propagate the **full media segment URL** to the playlist file.

This is usually not what you want, as upload URLs and consumer URLs will most probably differ. On top of that, it would **also** make the playlist and its referenced media nonrelocatable. Bummer!

## Proposal
We think we should stop overloading the `segment_template` and `playlist_name` stream descriptor attributes and treat them as bare filenames again as probably originally intended by Shaka Packager.

In order to signal a HTTP upload URL, we should finally introduce another dedicated command line parameter aka. code flag offered by `http_file.cc` called `--http_upload_url`. It should be used as a base URL for uploading all produced artefacts to, without influencing anything on the "naming things" side. By doing this, describing and using the new feature might become way more clear and the code will probably also improve by not having to handle special tokens like `put+` encoded into the filename.

We will be happy to receive feedback about this.

@amotl your proposal is exactly the right thing!

Hi there,

we had a bumpy flight, but we are already approaching the destination. Let me give you a sequence of updates.

### Introduction
> We think we should stop overloading the `segment_template` and `playlist_name` stream descriptor attributes and treat them as bare filenames again as probably originally intended by Shaka Packager.

It turned out this is exactly the right thing to do. The impedance mismatch described above when mixing the behavior of the current parameters with another meaning for designating the HTTP upload target is just too big. The fact that the protocol prefix gets stripped away before propagating filenames into the internal subsystems of Shaka Packager doesn't make things exactly better ;].

### Internal machinery
Filenames and locations are routed through different subsystems of Shaka Packager. Quite some munging is done on them in order to get things right already.

Shaka Packager's `segment_template` and `playlist_name` attributes in the stream descriptor parameter as well as the `--hls_master_playlist_output` and `--hls_base_url` parameters are well balanced through its internal machinery to handle **filesystem addresses** primarily intended to name the segment media files and the playlist files. They will do a poor job on handling URLs altogether.

Conclusion: We should not mess with that, let's try to keep things orthogonal and concerns separated.

### Proposal
> We will introduce another dedicated command line parameter aka. code flag offered by `http_file.cc` called `--http_upload_url`. It should be used as a base URL for uploading all produced artefacts to, without influencing anything on the "naming things" side.

### Plan

#### Prose
In order to make Shaka Packager [do what we mean](https://en.wikipedia.org/wiki/DWIM), the file name obtained by its internal [`file.cc`](https://github.com/google/shaka-packager/blob/master/packager/file/file.cc) machinery finally **has** to be prefixed by the designated protocol prefix (`"http://"`) in order to let the router perform its work based on information from [`kFileTypeInfo`](https://github.com/google/shaka-packager/blob/master/packager/file/file.cc#L107), where [protocol prefixes](https://github.com/google/shaka-packager/blob/master/packager/file/file.cc#L40) are mapped to their corresponding implementations.

In other words, **the filename is the single source of truth** for signalling the designated target protocol to the storage subsystem. This is an important detail which has to be honored, every other alternative would require amending the source code more significantly. As we are still aiming at getting to a first working version in the end, we have to be pragmatic here.

Saying that, i see the power of the simplicity of these mechanics. However, it turned out to have shortcomings regarding our current endeavor.

#### Code
So, our plan was to prepend the `"http://"` protocol prefix at runtime to make the storage subsystem happily upload all artefacts to the designated HTTP URL while **not messing** with the playlist and segment naming in any way.

Things like
```
if (!FLAGS_http_upload_url.empty()) {
  file_name = "http://" + file_name;
}
```
might be inserted at the right place(s) in Shaka Packager to do the protocol/transport signalling. Note this will just yield things like `http://bigbuckbunny-video-h264-450-0132.ts` to the downstream machinery, regardless of the real/full upload URL.

This gets accompanied by a simple function to compute the full URL used to upload the resource using HTTP PUT, like
```
std::string HttpFile::resource_url() {
  return base_url_ + "/" + file_name();
}
```
where `base_url_` has been assigned with `FLAGS_http_upload_url` at `HttpFile` instance construction time.

Easy, hm?

### Dead ends
We tried to place the logic into `GetFileTypeInfo()` or `SimpleHlsNotifier::SimpleHlsNotifier()` somehow. However, this didn't turn out well as it was too early: The functions there work well on filesystem locations, but not on URL addresses. For example, `http://bigbuckbunny.m3u8` will be broken down into
```
dirname:  http:
basename: bigbuckbunny.m3u8
```
After reconcatenating these parts, it will yield `http:/bigbuckbunny.m3u8` which is just nonsense and will happily miss the file dispatcher to finally make the artefacts end up on the filesystem inside a folder called `"http:/"`. Sigh.

But this is just rambling about one of the various obstacles encountered when trying to get things right in order to give you an impression about their [intertwingled](http://wiki.c2.com/?InterTwingled) nature in this context.

### Outlook
You can look forward to the happy end however, please let me clean the code from the various failed attempts before being able to prepare the relevant commit.

Best,
Andreas.

We just updated all the relevant resources for testing and review.

### User-wise
- [packager](https://packages.elmyra.de/3q/foss/packager)
  This is an `ELF 64-bit LSB executable, x86-64`, compiled on a recent _Debian GNU/Linux 9 (stretch)_.
- [Documentation](https://github.com/3QSDN/shaka-packager/blob/http-upload/docs/source/tutorials/http_upload.rst)
  This is the updated documentation about the HTTP upload feature.

### Code-wise
- ["http-upload" branch](https://github.com/3QSDN/shaka-packager/tree/http-upload)
  Updated the WIP branch, nothing special.
- [Review / compare](https://github.com/3QSDN/shaka-packager/compare/master...http-upload)
  The whole patch for review.

We will be happy to receive any feedback from all people giving this a test drive.

@kqyang: I still hesitate to issue a pull request in order to give this some time to settle as further amendments might be required. Shouldn't we also address at least some things from the [list of caveats](https://github.com/3QSDN/shaka-packager/blob/http-upload/docs/source/tutorials/http_upload.rst#caveats) first?


@JuliusThms found another issue. The bandwidth parameters announced in the master playlist file contain arbitrary high values:
```
BANDWIDTH=9419613995085859682,AVERAGE-BANDWIDTH=50963722547501290
```

 Every downstream component will probably croak on them.

@amotl @JuliusThms I don't think it is a good idea to introduce a separate flag `--http_upload_url` for the feature. It is messy and it requires special handling (or hack) in a number of places to make it work. I don't think it is necessary either. HTTP file is just another type of file. We should not need special handling for different types of files.

While your concern is mostly on HTTP addressing, `segment_template` is actually designed to be the file system path, be it a local file, a http file, a memory file etc. Shaka Packager code will generate relative addresses properly from `segment_template` in manifests / playlists without extra work.

> However, it turns out that this will be an absolute address and Shaka Packager will propagate this very address to the playlist file for referencing its media files, like described above.

The existing code should already handle it correctly without extra work. I tried your commit https://github.com/3QSDN/shaka-packager/commit/88609dc2f68caa10de02752ff389fc3cbd6671ec (this is before adding `--http_upload_url` support), and it is working correctly for me, i.e. relative urls are correctly generated in the output playlists.

I guess it was not working for you earlier because you were using an incompatible file prefix (`put+http://`). It works as expected after you dropping http patch support and changes http file prefix to `http://`, which is compatible to Shaka Packager's file design.






@kqyang 

It's a little bit off-topic. But can you suggest something to reduce live latency on hls? We are around 20 sec and i can't find any options in the doc. Also it would be nice to have your contact details.

Dear Kongqun,

thanks again for following our ramblings. Let me answer as well as I can do.

### Back on track
You are absolutely right, Shaka Packager as per https://github.com/3QSDN/shaka-packager/commit/88609dc2 really works flawlessly already regarding stable upload **and** resource addressing. I will have to check what i have been smoking these days to come to a different conclusion, i believe my workbench was too cluttered so i followed the wrong path at the wrong point in time ;[. Will be happy to revert all messy things and update the [http-upload](https://github.com/3QSDN/shaka-packager/tree/http-upload) WIP branch accordingly.

However, please be aware there **is** a small hack required even through 88609dc2 to make things work: As [file.cc:GetFileTypeInfo()](https://github.com/3QSDN/shaka-packager/blob/88609dc2/packager/file/file.cc#L132) will strip away the `file_type_prefix` to compute `real_file_name`, we had to [add it back](https://github.com/3QSDN/shaka-packager/blob/88609dc2/packager/file/http_file.cc#L48) in `http_file.cc`, which we found acceptable. Saying that, it will **not** honor `https://` prefixes out of the box, so we will have to return there later.

### File::GetFileSize
While we tried our best with eb92f1c2 already (again, you have been absolutely right about the races!), your [patch for TS to find segment size at runtime](https://github.com/google/shaka-packager/issues/506#issuecomment-438088665) will prove to work much better. Thanks!

> [The patch will] use `File::Tell` to get the file position. Can you update `HttpFile` class to support Tell?
 
I will try my best, thanks again!

### Backlog
Regarding the open [backlog items](https://github.com/google/shaka-packager/issues/149#issuecomment-438098248) in general: Thanks for your feedback again, very much appreciated. Yeah, let's work through them step by step as requirements will come up. @JuliusThms might need at least **some** of them solved ;].

With kind regards,
Andreas.


@JuliusThms 

> can you suggest something to reduce live latency on hls? We are around 20 sec and i can't find any options in the doc.

[HLS spec](https://tools.ietf.org/html/rfc8216#section-6.3.3) recommends that the player not to choose a segment that starts less than three target duration from the end of the playlist. So the latency is at least three segments.

What is your [segment duration](https://google.github.io/shaka-packager/html/documentation.html#chunking-options) and GOP size? The default segment duration is 6 seconds. So if you are using the default segment duration, ~20sec latency sounds about right to me.

You may try to reduce your GOP size and segment duration. A typical setting I have seen for live streaming is 2 seconds. This should be able to reduce your latency to less than 10 seconds. Note that a smaller GOP requires more CPU/GPU for transcoding.

We are also planning to support Low Latency HLS in 2019 Q1. There are a few different L-HLS proposals, e.g. [Periscope proposal](https://medium.com/freshdevelopers/implementing-lhls-on-hls-js-4fc4558edff2), [JW Player proposal](https://video-dev.github.io/hlsjs-rfcs/docs/0001-lhls). With this, the player will be able to start playing before a complete segment is available. It can further reduce the latency. However, it requires a custom HLS player; it is unlikely that it will be supported by Apple natively any time soon.

> Also it would be nice to have your contact details.

You can find my email in CONTRIBUTORS file.

@amotl Thanks for the good work! 

> As file.cc:GetFileTypeInfo() will strip away the file_type_prefix to compute real_file_name, we had to add it back in http_file.cc, which we found acceptable.

Yes, that is LGTM too.

> Saying that, it will not honor https:// prefixes out of the box

Not sure what you mean by that.






@kqyang 

Thanks for the detailed answer.

Both --fragment_duration 2 --segment_duration 2; and GOP Size 2 sec.
I start the player with the third least segment. 

My colleagues will also test a little bit more, since i'm only testing with ffmpeg and a timecode. 
They measured today 12 secs.

We'll do a little bit more testing, i'll keep you updated.






## Adding support for HTTPS
@kqyang: Thanks for listening and biting on to this.

### Introduction
>> Saying that, it will not honor https:// prefixes out of the box

> Not sure what you mean by that.

As `File::CreateInternalFile` will call `file_type->factory_function(real_file_name)`, while `real_file_name` is the file path **without** its protocol prefix (as stripped away by `GetFileTypeInfo`), `HttpFile` will not know about the real prefix. So, we can't decide between prefixing `http://` or `https://` again when computing the effective `resource_url` which will get stuffed into _libcurl_, see:
```
HttpFile::HttpFile(const char* file_name, const char* mode) {

  // FIXME: Prepend the scheme again. Improve: It could be https or even others.
  std::string scheme = "http://";
  resource_url_ = scheme + std::string(file_name);
```

### Question to the experts ;]
Can you imagine an easy way how to make this happen?

### Possible proposal
If there's no other more lightweight way to do it, we would probably have to extend the function signature of the output writer adapter factory call to make the internals of `File::CreateInternalFile` read like
```
// As of Dec 2018, the full resource address will get propagated to output writers
const FileTypeInfo* file_type = GetFileTypeInfo(file_name, &real_file_name);
return file_type->factory_function(file_name, real_file_name.data(), mode);
```

To make this happen, all output writers would probably have to be touched?

@amotl Thanks for the clarification! I overlooked it. Yes, your proposal LGTM! 

> To make this happen, all output writers would probably have to be touched to honor the evolved call signature?

Touching CreateXxx functions should be sufficient :). See the examples below. If we want to improve the logging, i.e. what is returned in File::file_name() then we can update the constructors of all the files as well.

```diff
diff --git i/packager/file/file.cc w/packager/file/file.cc
index 732eced260..46a821f6b1 100644
--- i/packager/file/file.cc
+++ w/packager/file/file.cc
-File* CreateHttpFile(const char* file_name, const char* mode) {
+File* CreateHttpFile(const char* file_name,
+                     const char* stripped_file_name,
+                     const char* mode) {
   return new HttpFile(file_name, mode);
 }
 
-File* CreateMemoryFile(const char* file_name, const char* mode) {
-  return new MemoryFile(file_name, mode);
+File* CreateMemoryFile(const char* file_name,
+                       const char* stripped_file_name,
+                       const char* mode) {
+  return new MemoryFile(stripped_file_name, mode);
 }
```




> Touching `CreateXxx` functions should be sufficient :)

Yeah, it was them i was thinking about, thanks!

Thanks also for already giving the example re. naming things. I will propagate `stripped_file_name` to all former output writers and `file_name` to the `HttpFile` output writer as outlined above.


We just updated all the relevant resources for further testing and review.

### User-wise
- [`packager-linux-http-upload`](https://packages.elmyra.de/3q/foss/packager-linux-http-upload)
  This is an `ELF 64-bit LSB executable, x86-64`, compiled from 5e17e0a7 on a recent _Debian GNU/Linux 9 (stretch)_.
- [Documentation](https://github.com/3QSDN/shaka-packager/blob/http-upload/docs/source/tutorials/http_upload.rst)
  This is the updated documentation about the HTTP upload feature.

### Code-wise
- ["http-upload" branch](https://github.com/3QSDN/shaka-packager/tree/http-upload)
  Updated the WIP branch, nothing special.
- [Review / compare](https://github.com/3QSDN/shaka-packager/compare/master...http-upload)
  The whole patch for review.

We will be happy to receive any feedback from all people giving this a test drive.


## Next steps

### Performance and production tuning
@JuliusThms and his team is already testing how this behaves in real scenarios. Thanks for your valuable input on tuning GOP sizes already. @JuliusThms: You might also want to have a look at the [official recommendations](https://google.github.io/shaka-packager/html/tutorials/encoding.html).

### Add more features
We already discussed some of them and talked about how to mitigate some obstacles we would encounter (see HTTPS support above). Adding the most important ones should be straightforward now.

## See you soon
Wow, this was an exceptional experience. Thank you all for your positive and thoughtful support on this. We have been able to produce a working prototype for doing HTTP uploads with Shaka Packager, this wouldn't have been possible for us without your help.

Personally, i will have to dedicate myself to other things which have mysteriously been piling up but i will look forward coming back soon to continue the work on this.


## `avbroadcast`
Last but not least, we want to tell you about a little program in the making called `avbroadcast` [1,2], which we use as a driver for running _ffmpeg_ and _packager_. It's still in its infancy, so you might enjoy having an impact with feedback or even code contributions.

It doesn't do much - and so it shouldn't. It is merely a wrapper around _ffmpeg_ and _packager_ and generates appropriate commands for connecting them to a pipeline like `ffmpeg | packager`, especially in [live encoding](https://google.github.io/shaka-packager/html/tutorials/live.html) scenarios, where multiple UDP multicast live sources are ingested from a bunch of UDP ports. In the specific case, the stream originates at a RTMP source and gets transcoded and mapped to these UDP ports appropriately by _ffmpeg_.

`avbroadcast` generates its commands in a way the parameters stuffed into _ffmpeg_ and _packager_ will match reasonably into each other for supporting multi-quality streams appropriately and without errors inadvertently caused by manual scripting.

In the future, it might also become handy for iterating through **different** [presets](https://github.com/daq-tools/avbroadcast/blob/master/avbroadcast/core.py#L14-L40) for quick turnaround tests. Go figure.

Regarding GOP size tuning and beyond, `avbroadcast` probably also should follow the [media encoding recommendations](https://google.github.io/shaka-packager/html/tutorials/encoding.html) of Shaka Packager.

Have fun!

[1] https://pypi.org/project/avbroadcast/
[2] https://github.com/daq-tools/avbroadcast


@kqyang 

Can you have a look here why the hls is not playing on shaka player?
It's also not playing on hls.js, but it's playing on bitmovin and theoplayer.

https://shaka-player-demo.appspot.com/demo/#asset=https://sdn-global-live-streaming-packager-cache.3qsdn.com/6191/6191_264_live.m3u8;lang=de-DE;build=uncompiled

CORS. The CDN has to allow using resources on shaka-player-demo.appspot.com

Sometimes you can't see the forest for the trees.
Thanks @rkuroiwa the other extensions are having CORS, so i didn't check the headers.

@rkuroiwa That wasn't the issue.

Shaka Error MANIFEST.HLS_COULD_NOT_PARSE_SEGMENT_START_TIME ()

@JuliusThms 
Ah right, shaka player tries to get timestamps from the container. It explicitly says [here](https://github.com/google/shaka-player) that raw AAC is not supported for HLS.

That said, I cannot get the master playlist working on hls.js but I can play individual media playlists on hls.js. So there may be something wrong with packaging/playlist generation.

@rkuroiwa 

Ah, okay. That's interesting. 
At hls.js i created an issue; keep you updated.

But you mean everything should be fine with the hls itself? (shaka-packager)

@JuliusThms, can you please link to the hls.js issue you created?

@joeyparrish I think i ran into a unspecific issue caused by CORS with RAW AAC and some encoding parameters. I couldn't reproduce it now again.

But in v.011.0. there is a new issue with the playlists gernerated by shaka-packager, see [Multiple audiotracks are loading undefined audioTrack URL](https://github.com/video-dev/hls.js/issues/2002).





Thanks!

@joeyparrish This change fixes it: https://github.com/video-dev/hls.js/issues/1909#issuecomment-440316764. See my comment and commit. I'm waiting now for advice.


@joeyparrish Here is the correct issue now: https://github.com/video-dev/hls.js/issues/2006


Has anyone tried this out with DASH yet? I can't quite get it to work yet :)

Ich tested only hls. Did you test hls? Is this running?

@colleenkhenry I have not tested it, but it should work for DASH too. What is the issue you are seeing?

@JuliusThms @amotl What is your plan on merging the changes back to master?

We'll make sure it is tested regularly once it is in master.


I got dash working. I was just being dumb on my side :). Thanks!

On Thu, Dec 13, 2018 at 2:35 PM Kongqun Yang <notifications@github.com>
wrote:

> @colleenkhenry <https://github.com/colleenkhenry> I have not tested it,
> but it should work for DASH too. What is the issue you are seeing?
>
> @JuliusThms <https://github.com/JuliusThms> @amotl
> <https://github.com/amotl> What is your plan on merging the changes back
> to master?
>
> We'll make sure it is tested regularly once it is in master.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149#issuecomment-447145804>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ACdZaahJz32wXZWzT5yePcKC3DW6fUgoks5u4tZDgaJpZM4J8IDP>
> .
>


Hi there,

good to hear some things in question have been sorted out and that the patch seems to work fine for @JuliusThms and others who might have tested it.

@kqyang already asked twice:

> @amotl Thanks for the update! Not urgent, but I wonder when you will send a pull request to sync it back to the master branch.

> @JuliusThms @amotl What is your plan on merging the changes back to master?

Sorry for my late answer on that. I really would like to add support for authentication and TLS to complete this work, but will also be happy to split this into another PR if you would prefer that approach.

With kind regards,
Andreas.


Hi there,

while being a bit late on that, I wish all of you a happy new year!

@JuliusThms and his colleagues unfortunately are experiencing sporadic problems with using the HTTP upload feature in production. It looks like the transfer of some segments is irregularly stalling, effectively delaying the the arrival on the HTTP server and thus rendering the live stream unusable for the client.

For the records, I'd like to share some log entries showing the arrival of segments on the Nginx side. You can see the sequence numbers of the chunks between different quality levels are not in sync with each other, a scenario I haven't been able to reproduce on my machine yet where all chunks are well aligned. @JuliusThms thinks this will confuse the player. According to them, the transcoding machine and the machine Nginx is living on are not overcommitted, neither is the network in between them.

Anyway, as this is looking like some bottleneck we are yet clueless about, do you have any ideas why this might happen to us?

Cheers,
Andreas.

```
5.5.5.5 - - [28/Jan/2019:13:19:46 +0000] "PUT /upload/2641901281141524818video_144_2412.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:46 +0000] "PUT /upload/2641901281141521004video_360_2883.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:47 +0000] "PUT /upload/2641901281141521005video_240_2925.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:47 +0000] "PUT /upload/2641901281141521003video_480_2936.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:47 +0000] "PUT /upload/2641901281141521004video_360_2884.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:49 +0000] "PUT /upload/2641901281141521003video_480_2937.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:49 +0000] "PUT /upload/2641901281141524818video_144_2413.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
5.5.5.5 - - [28/Jan/2019:13:19:49 +0000] "PUT /upload/2641901281141521004video_360_2885.ts HTTP/1.1" 201 0 "-" "shaka-packager-uploader/0.1"
```


I suspect it is due to stalls during the HTTP upload too. I suggest adding codes to measure the uploading time for every segment, which will be useful for debugging this kind of problems.

Dear Kongqun,

thanks for your quick answer. I am assuming the same, there has to be a bottleneck on the network  arbitrarily stalling the HTTP upload threads and finally bringing them out of sync. I am able to reproduce the behavior while uploading from a DSL line with limited upload bandwidth even while using two streams with low resolutions.

We'll let you know when there are any updates on that, hopefully being able to finally get into preparing the pull request then.

With kind regards,
Andreas.

```
178.0.3.188 - - [30/Jan/2019:04:49:08 +0100] "PUT /hls-live/6029/6029-video-240-0009.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:16 +0100] "PUT /hls-live/6029/6029-video-240-0010.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:18 +0100] "PUT /hls-live/6029/6029-video-360-0007.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:20 +0100] "PUT /hls-live/6029/6029-video-240-0011.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:31 +0100] "PUT /hls-live/6029/6029-video-240-0012.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:31 +0100] "PUT /hls-live/6029/6029-video-360-0008.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:36 +0100] "PUT /hls-live/6029/6029-video-240-0013.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
178.0.3.188 - - [30/Jan/2019:04:49:42 +0100] "PUT /hls-live/6029/6029-video-240-0014.ts HTTP/1.1" 204 0 "-" "shaka-packager-uploader/0.1"
```

@amotl You've probably explained it previously, but I would like to make it clear. What is the expected output? Is the problem because some resolutions e.g. 360 are at 7 but 240 has already output 10?

Say there are resolutions A B and C, is the output expected to look like
```
video-A-1.ts
video-B-1.ts
video-C-1.ts
video-A-2.ts
video-B-2.ts
video-C-2.ts
```

Maybe not exactly always in "A then B then C" but the segment numbers are supposed to be monotonically increasing? i.e. segment number n are output for all resolutions, followed by n+1s?

Separately, another logging that you could add is the segment names when the packager starts (or ends) writing. If that matches the receive order on nginx side, then we can pretty confidently say that the cause is either the packager or the network (or both).

Hi @rkuroiwa,

thanks for your questions and your interest in finding the root cause of this issue.

### Analysis

> You've probably explained it previously, but I would like to make it clear. What is the expected output? Is the problem because some resolutions e.g. 360 are at 7 but 240 has already output 10?

Exactly. @JuliusThms thinks this is the root cause for making the player croak somehow, thus breaking the live streaming completely.

> Maybe not exactly always in "A then B then C" but the segment numbers are supposed to be monotonically increasing? i.e. segment number n are output for all resolutions, followed by n+1s?

Exactly. When the segments arrive in that order, i.e. en bloc for all resolutions with the same segment number, it is reported that everything works fine then.

> Separately, another logging that you could add is the segment names when the packager starts (or ends) writing.

I think we have that already, please tell me I'm wrong if this isn't the case: When running with `--vmodule=file=1,http_file=1,media_playlist=1,hls_notify_muxer_listener=1,ts_segmenter=1,ts_writer=1`, Shaka Packager produces rich output where you can follow its progress on uploading with HTTP. I've created a Gist and attached an output where you can also see the scrambled/unordered flow of segments, i.e. the anomaly - even on the Shaka Packager side.

P.S.: When looking at the output from the perspective of this issue, it would be cool to have **timestamps** prefixed to each log line.

---

### Thoughts

> If that matches the receive order on nginx side, 

Yeah, it's pretty much like that, I believe. To extend what I've said before:
> I am assuming the same, there has to be a bottleneck on the network arbitrarily stalling the HTTP upload threads and finally bringing them out of sync. I am able to reproduce the behavior while uploading from a DSL line with limited upload bandwidth even while using two streams with low resolutions.

and adding what you said:
> then we can pretty confidently say that the cause is either the packager or the network (or both).

I conclude that network contention, even intermittent one, will backpressure into the packager and then influence the upload scheduling in an indeterministic manner as there are probably no enforcements or other control mechanisms which will keep the upload threads serialized, right? As a consequence, I imagine the OS CPU and I/O schedulers would be free to play their games with them, not exactly following DWIM rules.

Do you think that throwing a **queue** into the mix could solve the problem even in a scenario experiencing network contention on the upload path, in order to keep the tasks serialized?

As I learned from you the other day, your foundational infrastructure already offers highlevel primitives like deferring jobs to a worker pool, which we used for the HTTP upload integration already:
```
base::WorkerPool::PostTask(
  FROM_HERE,
  base::Bind(&HttpFile::CurlPut, base::Unretained(this)),
  true /* task_is_slow */);
```

Might there even be a smart primitive for adding **queuing capabilities** to the worker pool abstraction, where tasks would consume their workload from a shared queue? I could imagine this might keep the overall processing reasonably serialized.

Looking forward to your feedback about this.

With kind regards,
Andreas.

---

### Appendix

Gist with full log excerpts:
https://gist.github.com/amotl/a1d783fce0dc8dc160e50993b9a0ce49

Long story short:
```
[0130/005457:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480-0024.ts
[0130/005502:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-720.m3u8
[0130/005502:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029.m3u8
[0130/005503:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-720-0017.ts
[0130/005510:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480.m3u8
[0130/005510:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029.m3u8
[0130/005511:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480-0025.ts
[0130/005514:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480.m3u8
[0130/005515:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029.m3u8
[0130/005515:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480-0026.ts
[0130/005518:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480.m3u8
[0130/005518:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029.m3u8
[0130/005519:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-480-0027.ts
[0130/005523:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-1080.m3u8
[0130/005523:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029.m3u8
[0130/005523:VERBOSE1:http_file.cc(170)] Sending request to URL http://media.example.org/upload/6029-video-1080-0010.ts
```


Oh maybe we already have vlogs for write start and end :)

The logs do have [timestamps](https://chromium.googlesource.com/chromium/src/base/+/a34eabec0d807cf03dc8cfc1a6240156ac2bbd01/logging.cc#776), but they only go down to seconds and I agree that it's not granular enough. The newer version of chromium/base goes down to milliseconds.

> Do you think that throwing a queue into the mix could solve the problem even in a scenario experiencing network contention on the upload path, in order to keep the tasks serialized?

This would be a solution iff there is a (minimum average network) resource guarantee; if ordering uploads is a solution and the problem is with concurrent segment uploads then this could be a solution.

## Prioritization
Below, I'm assuming that this is for live therefore the users (almost always) prefer to see the latest segment rather than wait for an "old" segment.

I heard from shaka player folks that losing segments is an inevitable thing for live streaming, so they had to deal with missing segments. So how about setting a timeout to upload? Or if timeout is painful to deal with, some kind of prioritization module (PM) is probably preferred. This module would probably run on its own thread and it has to be thread-safe. HttpFile defers all the tasks to the PM and the PM would actually issue a "write". The PM checks all the file names and then decide which uploads to prioritize.
For example the PM might keep a record of the latest segment number. If it sees a segment number below that number, it skips it.
I call it "prioritization" because at the end of the day you might want to upload the "low priority" segments as well e.g. for time shifting.

You're free to try out the idea but this feels like a solution that the packager needs regardless of file type (http file, local file, etc). We might want to design it a little more carefully than just my **notes** above.



@rkuroiwa

I tested if the sequence numbers are in order when i'm not using http put, but writing them to disk. So same effect, they are not in order.

For example 720p is more than 10 sec numbers behind after some time.
This can be an issue with the "mpegts" output from ffmpeg, right? Timestamps?

> "input=udp://127.0.0.1:10002?reuse=1,stream=audio,segment_template=/data/aac1903150903548302audio_\$Number\$.aac,playlist_name=aac8302audio.m3u8,hls_group_id=audio,hls_name=ENGLISH"
      "input=udp://127.0.0.1:10002?reuse=1,stream=video,segment_template=/data/2641903150903548302video_720_\$Number\$.ts,iframe_playlist_name=2648302video_720_iframe.m3u8,playlist_name=2648302video_720.m3u8"
      "input=udp://127.0.0.1:11002?reuse=1,stream=video,segment_template=/data/2641903150903544818video_144_\$Number\$.ts,iframe_playlist_name=2644818video_144_iframe.m3u8,playlist_name=2644818video_144.m3u8"
      "input=udp://127.0.0.1:12002?reuse=1,stream=video,segment_template=/data/2641903150903541005video_240_\$Number\$.ts,iframe_playlist_name=2641005video_240_iframe.m3u8,playlist_name=2641005video_240.m3u8"
      "input=udp://127.0.0.1:13002?reuse=1,stream=video,segment_template=/data/2641903150903541004video_360_\$Number\$.ts,iframe_playlist_name=2641004video_360_iframe.m3u8,playlist_name=2641004video_360.m3u8"
      "input=udp://127.0.0.1:14002?reuse=1,stream=video,segment_template=/data/2641903150903541003video_480_\$Number\$.ts,iframe_playlist_name=2641003video_480_iframe.m3u8,playlist_name=2641003video_480.m3u8"
``

Hey all. I just wanted to throw out the suggestion that we make sure we are using persistent http connections. 

Also, in the future, one awesome feature would be CMAF low latency dash :). 

@colleenkhenry 

Of course. But currently we are struggling to have all renditions immediately on the file system. There is always min. one rendition which is more than 10 seq numbers behind...

Maybe you have an idea?

@JuliusThms Is FFmpeg running in the same machine or in a different machine? Do you see any error / warning logging from FFmpeg and packager? Have you monitored CPU usage?

> For example 4 renditions with shaka packager are not a problem at all, but 6 for example are a real problem.

Does the problem worsen over time? Does the problem always happen on the same rendition, e.g. 720P?




@kqyang I'm currently investigating with @amotl. 
He's collecting data and debugs.

ffmpeg and shaka is running at the same machine. But the machine is not heavy loaded. So we think it's a scheduling problem. I'm waiting now for the test results of @amotl and keep you updated.

Renditions 1080, 720, 480, 360 always working
Renditions 1080, 720, 480, 360 and 240 in combination are working most of the time (sometimes not)
Renditions 1080, 720, 480, 360, 240 and 144 it's not working most of the time

@JuliusThms I see. We will look into it internally. Will keep you updated if there is any finding.

Hi @kqyang 

Yes, one thing was removing iframe playlists from the HLS. This reduced the cpu by around 30 to 40 percent. But still the problem is present often. @amotl Can you say something too?


I'm just curious how, how are thing going here? 

Dear Colleen,

@JuliusThms is still having issues in his production environment. Nevertheless, we should care about rebasing this into master and finally conclude the merge into mainline.

The most likely reason that things stalled here is that nobody asked and we are probably lacking the right opportunity to finish work on this piece.

With kind regards,
Andreas.

Well I am happy to ask!

On Sat, Jul 13, 2019, 3:28 PM Andreas Motl <notifications@github.com> wrote:

> Dear Colleen,
>
> @JuliusThms <https://github.com/JuliusThms> is still having issues in his
> production environment. Nevertheless, we should care about rebasing this
> into master and finally conclude the merge into mainline.
>
> The most likely reason that things stalled here is that nobody asked and
> we are probably lacking the right opportunity to finish work on this piece.
>
> With kind regards,
> Andreas.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/google/shaka-packager/issues/149?email_source=notifications&email_token=AATVS2MCKHZRFL7DGZR44ZTP7JJIPA5CNFSM4CPQQDH2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGODZ32PZQ#issuecomment-511158246>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AATVS2L6GBQNFBG76OYZNTDP7JJIPANCNFSM4CPQQDHQ>
> .
>


@amotl I have created another issue #620 to track the HLS live packaging performance improvement.

It will be appreciated if you can submit a pull request to merge the changes you have done back to master. It will also make it easier for other people to try and evaluate the feature.

Dear @kqyang, @colleenkhenry and @fwoelffel,

I hear you and recognize your interest in bringing this feature into mainline. While the majority of the implementation is already finished also thanks to support from all of you, I would need someone to support this work (getting into the topic again, refreshing the sandbox, rebasing onto master, maybe add some bells) so I will talk to @JuliusThms in this regard. Thanks also for diverting the performance-related discussion into #620, @kqyang.

With kind regards,
Andreas.

@amotl Are you still interested in sending a pull request on your work on HTTP file support?

Dear Kongqun,

thanks for following up on this task. I will be happy to get back to work on this and will ask @JuliusThms about support for that.

With kind regards,
Andreas.

Would be great to have @amotl's contributions merged upstream. I added the possibility to set a custom User-Agent string to be used for HTTP PUT requests: https://github.com/termoose/shaka-packager/commit/439c30ed3c7f883ebbb1ac29df95fe1adc55d1c9

As for HTTPS it seems the code in your branch is mostly finished (the one that's commented out), just missing command line arguments for specifying certificate paths? Will run some tests on this and update my branch if I find something that works

Dear Ole Andre,

thanks for picking this up!

With kind regards,
Andreas.

@amotl @JuliusThms What is your plan on merging it upstream?

I added support for HTTPS, it has been successfully tested with Akamai MSL4 entry points on Widevine encrypted segments. Akamai does not require a specific client certificate so I don't have any available entry points to test that feature against. The code is the one that @amotl already added from `playready_key_encryption_flags.cc` with pretty much no modifications.

I opted out of fetching `FLAGS_` for each HTTP PUT, assuming this is some map lookup which can then be avoided for each request. Command line arguments are instead initialised once in the constructor.

I submitted the CLA mentioned in the contribution guidelines and updated the `AUTHORS` and `CONTRIBUTORS` accordingly, I guess @amotl should do the same before a merge.
My branch is a fork of https://github.com/3QSDN/shaka-packager so it should be merged back in there, CLA details added, and then merged into the Google repository. I can also cherry-pick any changes you have @amotl and submit a merge request for my branch directly if you prefer!

https://github.com/termoose/shaka-packager/tree/http-upload

Dear Ole Andre,

> I added support for HTTPS, it has been successfully tested [...]

Thank you so much!

> I submitted the CLA mentioned in the contribution guidelines and updated the AUTHORS and CONTRIBUTORS accordingly, I guess @amotl should do the same before a merge.

Done with 8ddbbf08. Thanks.

> I can also submit a merge request for my branch directly if you prefer!

Please go ahead! Thanks again for your efforts adding HTTPS support and thanks in advance for bringing this upstream!

With kind regards,
Andreas.

I cherry-picked it in, great!

There is another thing I'd like to add before publishing the PR, the ability to have multiple outputs (primary/backup) defined, with either a comma separated list or a new command line flag for `--mpd_output_backup` or something similar. Will try to implement this and run some tests.

@termoose Thanks for working on it! I'll prefer keeping the PR focusing on a single feature. It will also be easier for discussion and code review :). For multiple outputs (primary/backup), can you file a separate issue and a separate PR instead?

For sure, will make that a separate PR! As for the Google CLA, I'm still waiting for our legal department, should be solved shortly

Hi again,

the patch from #737 has been integrated by @TheModMaker and according to @kqyang's flags, the feature might be integrated into the upcoming 2.5 release if we are lucky. Thank you all who collaborated on this!

With kind regards,
Andreas.

 There is one more clean-up CL from @TheModMaker to be pushed soon, then we can claim that it is done.

Thanks everyone for helping land the feature.

And yes, it will be included in v2.5 release, which will be released in the end of March. 



Thank you for taking over this @kqyang and @TheModMaker, really looking forward to the v2.5 release! 🎈 